In [48]:
import pandas as pd
import numpy as np

In [49]:
# 1

imdb = pd.read_csv('imdb_2019.tsv', sep = '\t')
imdb.head()

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,87501.0,tt0089435,short,Kokoa,Kokoa,0.0,2019.0,NaN,13.0,NaN
1,89512.0,tt0091490,short,Martina's Playhouse,Martina's Playhouse,0.0,2019.0,NaN,20.0,NaN
2,114407.0,tt0116991,movie,Mariette in Ecstasy,Mariette in Ecstasy,0.0,2019.0,NaN,NaN,NaN
3,126556.0,tt0129960,tvMovie,Eine geschlossene Gesellschaft,Eine geschlossene Gesellschaft,0.0,2019.0,NaN,NaN,NaN
4,166388.0,tt0172112,short,Ambulans,Ambulans,0.0,2019.0,NaN,11.0,NaN

In [71]:
# 2

print(imdb['titleType'].nunique())
imdb['titleType'].value_counts()

tvEpisode       225972
short            35351
movie            15640
video            10450
tvSeries          7154
tvMovie           2431
tvMiniSeries      2000
tvSpecial         1306
videoGame          884
tvShort            151
Name: titleType, dtype: int64

In [51]:
# 3

imdb[['titleType', 'primaryTitle', 'startYear', 'runtimeMinutes']]

,titleType,primaryTitle,startYear,runtimeMinutes
0,short,Kokoa,2019.0,13.0
1,short,Martina's Playhouse,2019.0,20.0
2,movie,Mariette in Ecstasy,2019.0,NaN
3,tvMovie,Eine geschlossene Gesellschaft,2019.0,NaN
4,short,Ambulans,2019.0,11.0
...,...,...,...,...
301334,tvEpisode,Talent Coaching with IMOR's Bianca Desmore Mit...,2019.0,NaN
301335,tvEpisode,Escape,2019.0,NaN
301336,tvEpisode,Tinne Oltmans,2019.0,NaN
301337,tvEpisode,Luc Janssens,2019.0,NaN
301338,tvEpisode,Danira Boukhriss Terkessidis,2019.0,NaN

In [52]:
# 4

tvEpisodes_2019 = imdb[imdb['titleType'] == 'tvEpisode']

tvEpisodes_2019.head()

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
21,758955.0,tt0782666,tvEpisode,Save the Duckling!,Save the Duckling!,0.0,2019.0,NaN,NaN,NaN
30,969426.0,tt10001058,tvEpisode,Le grand saut,Le grand saut,0.0,2019.0,NaN,51.0,NaN
32,969458.0,tt10001110,tvEpisode,The Interviews,The Interviews,0.0,2019.0,NaN,NaN,NaN
34,969464.0,tt10001120,tvEpisode,The New Guy,The New Guy,0.0,2019.0,NaN,NaN,NaN
35,969465.0,tt10001122,tvEpisode,The New Girl,The New Girl,0.0,2019.0,NaN,NaN,NaN

In [55]:
# 5

imdb['isAdult'].mean()*100

2.9684176293144926

In [54]:
# 6

imdb['primaryTitle'] = imdb['primaryTitle'].astype(str)
imdb['words_in_title'] = imdb['primaryTitle'].map(lambda x: len(x.split()))
imdb.head()

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,words_in_title
0,87501.0,tt0089435,short,Kokoa,Kokoa,0.0,2019.0,NaN,13.0,NaN,1
1,89512.0,tt0091490,short,Martina's Playhouse,Martina's Playhouse,0.0,2019.0,NaN,20.0,NaN,2
2,114407.0,tt0116991,movie,Mariette in Ecstasy,Mariette in Ecstasy,0.0,2019.0,NaN,NaN,NaN,3
3,126556.0,tt0129960,tvMovie,Eine geschlossene Gesellschaft,Eine geschlossene Gesellschaft,0.0,2019.0,NaN,NaN,NaN,3
4,166388.0,tt0172112,short,Ambulans,Ambulans,0.0,2019.0,NaN,11.0,NaN,1

In [59]:
# 7

imdb.loc[imdb['titleType'] == 'short', 'runtimeMinutes'].mean()

12.536104279390065

In [68]:
# 8

imdb[(imdb['titleType'] == 'tvMovie') & (imdb['words_in_title'] >= 3) & (imdb['runtimeMinutes'] < 75)]

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,words_in_title
10,290068.0,tt0302617,tvMovie,Great Bear Rainforest,Great Bear Rainforest,0.0,2019.0,NaN,41.0,NaN,3
77,970092.0,tt10002188,tvMovie,"La Sagi, una pionera del BarÃ§a","La Sagi, una pionera del BarÃ§a",0.0,2019.0,NaN,54.0,NaN,6
655,972490.0,tt10006422,tvMovie,Warrior Women of Dahomey,Warrior Women of Dahomey,0.0,2019.0,NaN,60.0,NaN,4
870,974152.0,tt10009314,tvMovie,Peter Kraus: Immer in Bewegung,Peter Kraus: Immer in Bewegung,0.0,2019.0,NaN,59.0,NaN,5
1549,977406.0,tt10015036,tvMovie,Arts Across the Heartland,Arts Across the Heartland,0.0,2019.0,NaN,42.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...
300451,6587871.0,tt9908916,tvMovie,Restless Legs Syndrome: The New Cure?,Restless Legs Syndrome: The New Cure?,0.0,2019.0,NaN,60.0,NaN,6
300975,6590161.0,tt9913680,tvMovie,Olympiad drÃ¶mmen 2020,Olympiad drÃ¶mmen 2020,0.0,2019.0,NaN,27.0,NaN,3
301155,6591048.0,tt9915520,tvMovie,Fascism i en svart bil,Fascism i en svart bil,0.0,2019.0,NaN,55.0,NaN,5
301240,6591316.0,tt9916112,tvMovie,"A Priest, a Rabbi, and a Nun walk into a...","A Priest, a Rabbi, and a Nun walk into a...",0.0,2019.0,NaN,21.0,NaN,10
301247,6591353.0,tt9916192,tvMovie,Danielle Darrieux: Il est poli d'Ãªtre gai!,Danielle Darrieux: Il est poli d'Ãªtre gai!,0.0,2019.0,NaN,53.0,NaN,7